<div class="social-icons">
  <a href="https://facebook.com/IDCertify" class="social-icon">f</a>
  <a href="https://twitter.com/IDCertify" class="social-icon">t</a>
  <a href="https://instagram.com/IDCertify" class="social-icon">i</a>
  <a href="https://youtube.com/IDCertify" class="social-icon">y</a>
</div>

<div class="footer-text">
  <p>&copy; {{year}} Finclusion Technologies Ltd. All rights reserved.</p>
  <p>If you would like to find out more about which Finclusion Technologies entity you receive services from, please reach out to us via the in-app chat in the Finclusion.ai</p>
</div>