<div
  style="background: #fff; border-radius: 16px; padding: 60px 37px 30px 37px; color: #191847"
>

  <h2>Hi {{candidateName}},</h2>

  <h1 style="color: #8B0000; margin-top: 10px; font-size: 32px">Thank You – Your
    Attestation Has Been Submitted 🎉</h1>
  <p style="font-size: 18px">
    You can now view your verified status and download your verification report
    anytime from your dashboard.
    <br />
    <br />
    Thank you for completing the attestation for
    {{candidateName}}
    on IDCertify. Your input has been received and is now part of the
    verification process. This helps build a trusted and transparent network for
    everyone on the platform. No further action is required from you at this
    time.
    <br />
    <br />
    We’ll let you know if we need any follow-up information.
    <br />
    <br />
    Thanks again for your contribution,
    <br />
    <br />
    The IDCertify Team
  </p>

  <div style="margin: 30px 0;">
    <p style="font-weight: bold;">Do you not recognise this attestation request?</p>
    <p>Just reply to this email or click
      <a
        href="{{reportUrl}}"
        style="color: #E92027; text-decoration: underline; font-weight: bold"
      >Report</a>
      to report this attestation request</p>
  </div>

</div>