<div
  style="background: #fff; border-radius: 16px; padding: 60px 37px 30px 37px"
>

  <h2
    style="color: #8A8A8A; font-size: 24px padding-bottom: 0px; margin-bottom: 8px"
  >Hi <span style="font-weight: 700">{{candidateName}}</span>,</h2>

  <h1 style="color: #8B0000; font-size: 32px">{{verificationType}}
    Your Verification Request Has Been Sent</h1>
  <p style="color:#191847; font-size: 20px">
    Thank you for submitting a verification request on IDCertify.
    <br />
    <br />
    We’ve received your request and have notified the candidate(Nneoma
    Caroline). They will now complete their part of the process.
    <br />
    <br />
    You can track the status of this verification from your dashboard.
    <br />
    <br />
    If you have any questions or need assistance, feel free to reach out.
    <br />
    <br />
    Thanks for trusting us
  </p>

  <div style="margin: 30px 0;">
    <p style="font-weight: bold; margin-bottom: 8px">Do you not recognise this
      verification request?</p>
    <p>Just reply to this email or click
      <a
        href="{{reportUrl}}"
        style="color: #E92027; text-decoration: underline; font-weight: bold"
      >Report</a>
      to report this verification request</p>
  </div>

</div>