<div
  style="background: #fff; border-radius: 16px; padding: 60px 37px 30px 37px"
>

  <h2 style="color: #8A8A8A; font-weight: 500; font-size: 24px">Hi
    {{name}},</h2>
  <h1 style="color: #7C1216">Welcome to ID Certify</h1>

  <p>It's a pleasure to welcome you to ID Certify, and we couldn't be more
    excited to have you on board. I'm Deji, the CEO of Finclusion Technologies,
    and I want to personally thank you for trusting us to be your partner in
    promoting safety and building trust.</p>

  <p>ID Certify is more than just a platform; it's your trusted ally in
    navigating the complexities of identity verification. With our cutting-edge
    technology and data analytics, we provide you with clear and reliable
    insights, helping you make informed decisions with confidence and ease.</p>

  <div
    class="highlight-box"
    style="border: 1px solid #B01116; border-radius: 1rem"
  >
    <h2 style="text-align: center;">WHAT YOU'LL GET FROM US</h2>

    <div
      style="display: flex; justify-content: space-between; flex-wrap: wrap; gap: 12px;"
    >
      <div class="feature" style="flex: 1; width: 100%">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="56"
          height="56"
          viewBox="0 0 56 56"
          fill="none"
        >
          <circle cx="28" cy="28" r="28" fill="#B01116" />
          <g filter="url(#filter0_d_2617_172469)">
            <path
              d="M28.4336 15.6183C28.3387 15.5232 28.2261 15.4478 28.1021 15.3963C27.978 15.3449 27.8451 15.3184 27.7108 15.3184C27.5765 15.3184 27.4435 15.3449 27.3195 15.3963C27.1955 15.4478 27.0828 15.5232 26.988 15.6183C24.4501 18.1521 21.6448 19.4016 18.5209 19.4016C18.2501 19.4016 17.9905 19.5092 17.799 19.7006C17.6076 19.8921 17.5 20.1518 17.5 20.4225V26.5498C17.5 33.1222 20.8505 37.5895 27.3861 39.7661C27.5956 39.8358 27.8219 39.8358 28.0313 39.7661C34.5649 37.5895 37.9175 33.1222 37.9175 26.5498V20.4225C37.9175 20.1518 37.8099 19.8921 37.6185 19.7006C37.427 19.5092 37.1674 19.4016 36.8966 19.4016C33.7707 19.4016 30.9653 18.1562 28.4336 15.6183ZM33.5359 23.7853C33.7273 23.9767 33.8348 24.2363 33.8348 24.507C33.8348 24.7777 33.7273 25.0374 33.5359 25.2288L27.4107 31.354C27.3158 31.4491 27.2032 31.5245 27.0791 31.576C26.9551 31.6275 26.8222 31.654 26.6879 31.654C26.5536 31.654 26.4206 31.6275 26.2966 31.576C26.1726 31.5245 26.0599 31.4491 25.9651 31.354L22.9025 28.2914C22.7108 28.0997 22.6031 27.8397 22.6031 27.5686C22.6031 27.2975 22.7108 27.0376 22.9025 26.8459C23.0942 26.6542 23.3542 26.5465 23.6252 26.5465C23.8963 26.5465 24.1563 26.6542 24.348 26.8459L26.6879 29.1877L32.0903 23.7853C32.1852 23.6902 32.2978 23.6148 32.4219 23.5633C32.5459 23.5118 32.6788 23.4854 32.8131 23.4854C32.9474 23.4854 33.0804 23.5118 33.2044 23.5633C33.3284 23.6148 33.4411 23.6902 33.5359 23.7853Z"
              fill="white"
            />
          </g>
          <defs>
            <filter
              id="filter0_d_2617_172469"
              x="13.946"
              y="15.3184"
              width="27.526"
              height="31.608"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB"
            >
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix
                in="SourceAlpha"
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha"
              />
              <feOffset dy="3.554" />
              <feGaussianBlur stdDeviation="1.777" />
              <feComposite in2="hardAlpha" operator="out" />
              <feColorMatrix
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
              />
              <feBlend
                mode="normal"
                in2="BackgroundImageFix"
                result="effect1_dropShadow_2617_172469"
              />
              <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="effect1_dropShadow_2617_172469"
                result="shape"
              />
            </filter>
          </defs>
        </svg>
        <h3 style="font-size: 20px; color: #B01116; font-weight: 500">Mitigate
          risks</h3>
        <p
          style="color: #191D27; font-size: 20px; text-align: start; font-weight: 500"
        >Check criminal records and employment history to protect yourself and
          your organization.</p>
      </div>

      <div class="feature" style="flex: 1; width: 100%">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="56"
          height="56"
          viewBox="0 0 56 56"
          fill="none"
        >
          <circle cx="28" cy="28" r="28" fill="#B01116" />
          <g filter="url(#filter0_d_2617_172469)">
            <path
              d="M28.4336 15.6183C28.3387 15.5232 28.2261 15.4478 28.1021 15.3963C27.978 15.3449 27.8451 15.3184 27.7108 15.3184C27.5765 15.3184 27.4435 15.3449 27.3195 15.3963C27.1955 15.4478 27.0828 15.5232 26.988 15.6183C24.4501 18.1521 21.6448 19.4016 18.5209 19.4016C18.2501 19.4016 17.9905 19.5092 17.799 19.7006C17.6076 19.8921 17.5 20.1518 17.5 20.4225V26.5498C17.5 33.1222 20.8505 37.5895 27.3861 39.7661C27.5956 39.8358 27.8219 39.8358 28.0313 39.7661C34.5649 37.5895 37.9175 33.1222 37.9175 26.5498V20.4225C37.9175 20.1518 37.8099 19.8921 37.6185 19.7006C37.427 19.5092 37.1674 19.4016 36.8966 19.4016C33.7707 19.4016 30.9653 18.1562 28.4336 15.6183ZM33.5359 23.7853C33.7273 23.9767 33.8348 24.2363 33.8348 24.507C33.8348 24.7777 33.7273 25.0374 33.5359 25.2288L27.4107 31.354C27.3158 31.4491 27.2032 31.5245 27.0791 31.576C26.9551 31.6275 26.8222 31.654 26.6879 31.654C26.5536 31.654 26.4206 31.6275 26.2966 31.576C26.1726 31.5245 26.0599 31.4491 25.9651 31.354L22.9025 28.2914C22.7108 28.0997 22.6031 27.8397 22.6031 27.5686C22.6031 27.2975 22.7108 27.0376 22.9025 26.8459C23.0942 26.6542 23.3542 26.5465 23.6252 26.5465C23.8963 26.5465 24.1563 26.6542 24.348 26.8459L26.6879 29.1877L32.0903 23.7853C32.1852 23.6902 32.2978 23.6148 32.4219 23.5633C32.5459 23.5118 32.6788 23.4854 32.8131 23.4854C32.9474 23.4854 33.0804 23.5118 33.2044 23.5633C33.3284 23.6148 33.4411 23.6902 33.5359 23.7853Z"
              fill="white"
            />
          </g>
          <defs>
            <filter
              id="filter0_d_2617_172469"
              x="13.946"
              y="15.3184"
              width="27.526"
              height="31.608"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB"
            >
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix
                in="SourceAlpha"
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha"
              />
              <feOffset dy="3.554" />
              <feGaussianBlur stdDeviation="1.777" />
              <feComposite in2="hardAlpha" operator="out" />
              <feColorMatrix
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
              />
              <feBlend
                mode="normal"
                in2="BackgroundImageFix"
                result="effect1_dropShadow_2617_172469"
              />
              <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="effect1_dropShadow_2617_172469"
                result="shape"
              />
            </filter>
          </defs>
        </svg>
        <h3 style="font-size: 18px; color: #B01116; font-weight: 500">Verify
          identities seamlessly</h3>
        <p style="color: #191D27; font-size: 18px; text-align: start">Confirm
          who you're dealing with in seconds.</p>
      </div>

      <div class="feature" style="flex: 1; width: 100%">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="56"
          height="56"
          viewBox="0 0 56 56"
          fill="none"
        >
          <circle cx="28" cy="28" r="28" fill="#B01116" />
          <g filter="url(#filter0_d_2617_172469)">
            <path
              d="M28.4336 15.6183C28.3387 15.5232 28.2261 15.4478 28.1021 15.3963C27.978 15.3449 27.8451 15.3184 27.7108 15.3184C27.5765 15.3184 27.4435 15.3449 27.3195 15.3963C27.1955 15.4478 27.0828 15.5232 26.988 15.6183C24.4501 18.1521 21.6448 19.4016 18.5209 19.4016C18.2501 19.4016 17.9905 19.5092 17.799 19.7006C17.6076 19.8921 17.5 20.1518 17.5 20.4225V26.5498C17.5 33.1222 20.8505 37.5895 27.3861 39.7661C27.5956 39.8358 27.8219 39.8358 28.0313 39.7661C34.5649 37.5895 37.9175 33.1222 37.9175 26.5498V20.4225C37.9175 20.1518 37.8099 19.8921 37.6185 19.7006C37.427 19.5092 37.1674 19.4016 36.8966 19.4016C33.7707 19.4016 30.9653 18.1562 28.4336 15.6183ZM33.5359 23.7853C33.7273 23.9767 33.8348 24.2363 33.8348 24.507C33.8348 24.7777 33.7273 25.0374 33.5359 25.2288L27.4107 31.354C27.3158 31.4491 27.2032 31.5245 27.0791 31.576C26.9551 31.6275 26.8222 31.654 26.6879 31.654C26.5536 31.654 26.4206 31.6275 26.2966 31.576C26.1726 31.5245 26.0599 31.4491 25.9651 31.354L22.9025 28.2914C22.7108 28.0997 22.6031 27.8397 22.6031 27.5686C22.6031 27.2975 22.7108 27.0376 22.9025 26.8459C23.0942 26.6542 23.3542 26.5465 23.6252 26.5465C23.8963 26.5465 24.1563 26.6542 24.348 26.8459L26.6879 29.1877L32.0903 23.7853C32.1852 23.6902 32.2978 23.6148 32.4219 23.5633C32.5459 23.5118 32.6788 23.4854 32.8131 23.4854C32.9474 23.4854 33.0804 23.5118 33.2044 23.5633C33.3284 23.6148 33.4411 23.6902 33.5359 23.7853Z"
              fill="white"
            />
          </g>
          <defs>
            <filter
              id="filter0_d_2617_172469"
              x="13.946"
              y="15.3184"
              width="27.526"
              height="31.608"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB"
            >
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix
                in="SourceAlpha"
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha"
              />
              <feOffset dy="3.554" />
              <feGaussianBlur stdDeviation="1.777" />
              <feComposite in2="hardAlpha" operator="out" />
              <feColorMatrix
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
              />
              <feBlend
                mode="normal"
                in2="BackgroundImageFix"
                result="effect1_dropShadow_2617_172469"
              />
              <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="effect1_dropShadow_2617_172469"
                result="shape"
              />
            </filter>
          </defs>
        </svg>
        <h3 style="font-size: 20px; color: #B01116; font-weight: 500">Gain
          complete clarity</h3>
        <p style="color: #191D27; font-size: 20px; text-align: start">Our
          detailed reports offer a full view of an individual's background,
          giving you the assurance you need.</p>
      </div>
    </div>

    <div style="text-align: center;">
      <a href="{{backgroundCheckUrl}}" style="text-decoration: none;">
        <p
          style="color: #B01116; font-weight: 600; font-size: 16px; text-decoration: none;"
        >
          Run Background Check →</p></a>
    </div>
  </div>

  <p>We're committed to providing you with the tools to ensure security and
    safety in every interaction, whether personal or professional. Rest assured,
    we're here to support you every step of the way, with swift, personalized
    assistance from our customer support team whenever you need it.</p>

  <p>We'll also keep you updated with regular tips, insights, and new features
    to make sure you're always equipped with the best tools for safe and secure
    transactions.</p>

  <h3>Need any help or have questions?</h3>

  <p style="color: #200506">Our team is just an email away at
    <a
      href="mailto:support@idcertify.ai"
      style="color: #B01116"
    >support@idcertify.ai</a>, or you can connect with us on social media at
    IDCertify.ai for the latest updates and valuable security tips.</p>

  <p style="color: #200506">Once again, welcome to ID Certify. Let's redefine
    trust, security, and safety, together.</p>

  <div class="signature">
    <p>Best regards,<br />
      Deji<br />
      CEO, Finclusion Technologies</p>
  </div>
</div>